.navbar, .footer {
    background-color: #294B29;
}

.jumbotron, .project {
    background-color: #DBE7C9;
}

.jumbotron {
    padding-top: 10rem;
}

.card {
    transition: .3s;
}
.card:hover {
    /* transform: scale(1.1); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.am {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition: .3s;
}
.am:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}